.btn {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.btn-primary {
    background-color: green;
}

.btn-primary:hover {
    background-color: darkgreen;
}

.btn-default {
    background-color: white;
    border-color: #cccccc;
    color: black;
}

.btn-default:hover {
    background-color: gray;
    color: white;
}

.btn:active {
    transform: scale(0.9);
}