.button-primary {
    background-color: skyblue;
    padding: 5px;
    cursor: pointer;
}

.button-default {
    padding: 5px;
    cursor: pointer;
}

.button-group-btn {
    background-color: green;
    padding: 5px;
    cursor: pointer;
}