.instruction-container {
    margin-right: 0px;
    font-size: 18px;
    width: 0px;
    border-right: 0px solid black;
    padding-right: 100px;
    box-sizing: border-box;
    padding-left: 50px;
}

.instruction-container li {
    margin-bottom: 10px;
}